---
const { reverse, data, description } = Astro.props;
---

<article class="productBanner">
  <div class="cardMobile">
    <div class="flex">
      <a href=`/products/${data.slug}`><img src={data.Image} alt=`Image of ${data.Albumtitel}` class="cardImg" /></a>
      <div class="cardInfo">
        <h3>{data.Albumtitel}</h3>
        <p class="kategori">{data.Kategori.join(", ")}</p>
        <p class="kunstner">{data.Kunstner}</p>
        <p>{data.Pris} kr</p>
      </div>
    </div>
    <p class="cardDescription">{description}</p>
  </div>
  <div class="cardDesktop">
    <a href=`/products/${data.slug}`><img src={data.Image} alt=`Image of ${data.Albumtitel}` class="cardImg" /></a>
    <div class={`cardText ${reverse}`}>
      <p class="cardDescription">{description}</p>
      <div class="cardInfo">
        <h3>{data.Albumtitel}</h3>
        <p class="kategori">{data.Kategori.join(", ")}</p>
        <p class="kunstner">{data.Kunstner}</p>
        <p>{data.Pris} kr</p>
      </div>
    </div>
  </div>
</article>

<style>
  /*********    Container Styling    ***********/
  .productBanner {
    width: 100%;
    max-width: 1600px;
    background-color: var(--color-secondary);
    padding: 2rem;
    margin: 1rem 0rem;
  }
  .cardMobile .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 2rem;
  }
  /*********    Text Styling    ***********/
  .cardDescription {
    margin-top: 2rem;
  }
  /*********    Flexbox Styling    ***********/
  .flex_col {
    display: flex;
    flex-direction: column;
  }
  /*********    Image Styling    ***********/
  .cardImg {
    width: 140px;
    height: 140px;
  }

  .productBanner p {
    font-size: var(--fs-base);
  }

  @media screen and (min-width: 800px) {
    .cardDesktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      align-items: center;
    }
    .cardMobile {
      display: none;
    }
    .cardText {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 70%;
    }
    .cardDescription {
      margin-top: 0;
    }
    .cardImg {
      width: 600px;
      height: 600px;
    }
    .cardDesktop a {
      width: fit-content;
      justify-self: center;
    }
  }
  .reverse {
    order: -1;
  }
</style>
